(
  walk: (
    south: (
      frames: [
        (base: (x: 15, y: 6), head: (x: 15, y: 41), left_hand: (x: 22, y: 26), right_hand: (x: 8, y: 26), left_foot: (x: 18, y: 6), right_foot: (x: 12, y: 6)),
        (base: (x: 15, y: 6), head: (x: 15, y: 40), left_hand: (x: 22, y: 26), right_hand: (x: 12, y: 26), left_foot: (x: 18, y: 6), right_foot: (x: 12, y: 5)),
        (base: (x: 15, y: 6), head: (x: 15, y: 40), left_hand: (x: 22, y: 27), right_hand: (x: 13, y: 29), left_foot: (x: 18, y: 5), right_foot: (x: 12, y: 8)),
        (base: (x: 15, y: 6), head: (x: 15, y: 41), left_hand: (x: 22, y: 26), right_hand: (x: 8, y: 26), left_foot: (x: 18, y: 6), right_foot: (x: 12, y: 6)),
        (base: (x: 15, y: 6), head: (x: 15, y: 41), left_hand: (x: 18, y: 27), right_hand: (x: 8, y: 27), left_foot: (x: 18, y: 6), right_foot: (x: 12, y: 7)),
        (base: (x: 15, y: 6), head: (x: 15, y: 40), left_hand: (x: 17, y: 29), right_hand: (x: 8, y: 27), left_foot: (x: 18, y: 8), right_foot: (x: 12, y: 5)),
      ],
    ),
    west: (
      frames: [
        (base: (x: 15, y: 6), head: (x: 15, y: 42), left_hand: (x: 17, y: 24), right_hand: (x: 13, y: 25), left_foot: (x: 16, y: 6), right_foot: (x: 16, y: 6)),
        (base: (x: 15, y: 6), head: (x: 15, y: 41), left_hand: (x: 18, y: 23), right_hand: (x: 10, y: 27), left_foot: (x: 16, y: 6), right_foot: (x: 7, y: 6)),
        (base: (x: 15, y: 6), head: (x: 15, y: 41), left_hand: (x: 18, y: 23), right_hand: (x: 11, y: 26), left_foot: (x: 18, y: 6), right_foot: (x: 8, y: 6)),
        (base: (x: 15, y: 6), head: (x: 15, y: 41), left_hand: (x: 18, y: 23), right_hand: (x: 11, y: 26), left_foot: (x: 10, y: 6), right_foot: (x: 16, y: 7)),
        (base: (x: 15, y: 6), head: (x: 15, y: 41), left_hand: (x: 12, y: 25), right_hand: (x: 14, y: 26), left_foot: (x: 16, y: 6), right_foot: (x: 11, y: 6)),
      ],
    ),
    east: (
      frames: [
        (base: (x: 15, y: 6), head: (x: 15, y: 42), left_hand: (x: 17, y: 25), right_hand: (x: 14, y: 24), left_foot: (x: 15, y: 6), right_foot: (x: 15, y: 6)),
        (base: (x: 15, y: 6), head: (x: 15, y: 41), left_hand: (x: 19, y: 27), right_hand: (x: 13, y: 23), left_foot: (x: 24, y: 6), right_foot: (x: 15, y: 6)),
        (base: (x: 15, y: 6), head: (x: 15, y: 41), left_hand: (x: 18, y: 27), right_hand: (x: 13, y: 23), left_foot: (x: 23, y: 6), right_foot: (x: 13, y: 6)),
        (base: (x: 15, y: 6), head: (x: 15, y: 41), left_hand: (x: 17, y: 26), right_hand: (x: 13, y: 23), left_foot: (x: 15, y: 7), right_foot: (x: 21, y: 6)),
        (base: (x: 15, y: 6), head: (x: 15, y: 41), left_hand: (x: 16, y: 26), right_hand: (x: 17, y: 25), left_foot: (x: 20, y: 6), right_foot: (x: 15, y: 6)),
      ],
    ),
    north: (
      frames: [
        (base: (x: 15, y: 6), head: (x: 15, y: 42), left_hand: (x: 9, y: 26), right_hand: (x: 21, y: 26), left_foot: (x: 13, y: 6), right_foot: (x: 17, y: 6)),
        (base: (x: 15, y: 6), head: (x: 15, y: 41), left_hand: (x: 8, y: 25), right_hand: (x: 22, y: 26), left_foot: (x: 13, y: 4), right_foot: (x: 17, y: 7)),
        (base: (x: 15, y: 6), head: (x: 15, y: 41), left_hand: (x: 12, y: 29), right_hand: (x: 22, y: 28), left_foot: (x: 13, y: 4), right_foot: (x: 17, y: 10)),
        (base: (x: 15, y: 6), head: (x: 15, y: 42), left_hand: (x: 8, y: 26), right_hand: (x: 22, y: 26), left_foot: (x: 13, y: 6), right_foot: (x: 17, y: 6)),
        (base: (x: 15, y: 6), head: (x: 15, y: 42), left_hand: (x: 8, y: 27), right_hand: (x: 22, y: 26), left_foot: (x: 13, y: 8), right_foot: (x: 17, y: 7)),
        (base: (x: 15, y: 6), head: (x: 15, y: 41), left_hand: (x: 8, y: 27), right_hand: (x: 18, y: 29), left_foot: (x: 13, y: 10), right_foot: (x: 17, y: 4)),
      ],
    ),
  ),
  idle: (
    south: (
      frames: [
        (base: (x: 15, y: 6), head: (x: 15, y: 41), left_hand: (x: 22, y: 26), right_hand: (x: 8, y: 26), left_foot: (x: 18, y: 6), right_foot: (x: 12, y: 6)),
      ],
    ),
    west: (
      frames: [
        (base: (x: 15, y: 6), head: (x: 16, y: 42), left_hand: (x: 16, y: 24), right_hand: (x: 14, y: 26), left_foot: (x: 18, y: 6), right_foot: (x: 18, y: 6)),
      ],
    ),
    east: (
      frames: [
        (base: (x: 15, y: 6), head: (x: 15, y: 42), left_hand: (x: 14, y: 26), right_hand: (x: 15, y: 24), left_foot: (x: 13, y: 6), right_foot: (x: 13, y: 6)),
      ],
    ),
    north: (
      frames: [
        (base: (x: 15, y: 6), head: (x: 15, y: 42), left_hand: (x: 8, y: 26), right_hand: (x: 22, y: 26), left_foot: (x: 13, y: 6), right_foot: (x: 17, y: 6)),
      ],
    ),
  ),
)
