(
  idle: (
    west: (
      frames: [
        (image: 4, priority: 10, offset: (x: 15, y: 16)),
      ],
    ),
    south: (
      frames: [
        (image: 1, priority: 10, offset: (x: 15, y: 16)),
      ],
    ),
    east: (
      frames: [
        (image: 3, priority: 8, offset: (x: 15, y: 16)),
      ],
    ),
    north: (
      frames: [
        (image: 2, priority: 8, offset: (x: 15, y: 16)),
      ],
    ),
  ),
  walk: (
    west: (
      frames: [
        (image: 29, priority: 10, offset: (x: 15, y: 17)),
        (image: 30, priority: 10, offset: (x: 15, y: 17)),
        (image: 31, priority: 10, offset: (x: 15, y: 16)),
        (image: 32, priority: 10, offset: (x: 15, y: 17)),
        (image: 33, priority: 10, offset: (x: 15, y: 17)),
        (image: 34, priority: 10, offset: (x: 15, y: 17)),
        (image: 35, priority: 10, offset: (x: 14, y: 17)),
        (image: 36, priority: 10, offset: (x: 15, y: 16)),
      ],
    ),
    south: (
      frames: [
        (image: 5, priority: 10, offset: (x: 15, y: 16)),
        (image: 6, priority: 10, offset: (x: 15, y: 17)),
        (image: 7, priority: 10, offset: (x: 15, y: 16)),
        (image: 8, priority: 10, offset: (x: 15, y: 16)),
        (image: 9, priority: 10, offset: (x: 15, y: 16)),
        (image: 10, priority: 10, offset: (x: 15, y: 16)),
        (image: 11, priority: 10, offset: (x: 15, y: 16)),
        (image: 12, priority: 10, offset: (x: 15, y: 16)),
      ],
    ),
    east: (
      frames: [
        (image: 21, priority: 8, offset: (x: 15, y: 16)),
        (image: 22, priority: 8, offset: (x: 15, y: 16)),
        (image: 23, priority: 8, offset: (x: 15, y: 16)),
        (image: 24, priority: 8, offset: (x: 15, y: 16)),
        (image: 25, priority: 8, offset: (x: 15, y: 16)),
        (image: 26, priority: 8, offset: (x: 15, y: 16)),
        (image: 27, priority: 8, offset: (x: 15, y: 16)),
        (image: 28, priority: 8, offset: (x: 15, y: 16)),
      ],
    ),
    north: (
      frames: [
        (image: 13, priority: 8, offset: (x: 15, y: 17)),
        (image: 14, priority: 8, offset: (x: 15, y: 17)),
        (image: 15, priority: 8, offset: (x: 15, y: 16)),
        (image: 16, priority: 8, offset: (x: 15, y: 16)),
        (image: 17, priority: 8, offset: (x: 15, y: 16)),
        (image: 18, priority: 8, offset: (x: 15, y: 16)),
        (image: 19, priority: 8, offset: (x: 15, y: 16)),
        (image: 20, priority: 8, offset: (x: 15, y: 16)),
      ],
    ),
  ),
)
