(
  idle: (
    north: (
      frames: [
        (image: 2, priority: 14, offset: (x: 12, y: 1)),
      ],
    ),
    east: (
      frames: [
        (image: 3, priority: 14, offset: (x: 12, y: 3)),
      ],
    ),
    west: (
      frames: [
        (image: 4, priority: 14, offset: (x: 11, y: 3)),
      ],
    ),
    south: (
      frames: [
        (image: 1, priority: 14, offset: (x: 12, y: 1)),
      ],
    ),
  ),
  walk: (
    north: (
      frames: [
        (image: 6, priority: 14, offset: (x: 12, y: 1)),
      ],
    ),
    east: (
      frames: [
        (image: 7, priority: 14, offset: (x: 12, y: 3)),
      ],
    ),
    west: (
      frames: [
        (image: 8, priority: 14, offset: (x: 11, y: 3)),
      ],
    ),
    south: (
      frames: [
        (image: 5, priority: 14, offset: (x: 12, y: 1)),
      ],
    ),
  ),
)
