(
  walk: (
    east: (
      frames: [
        (base: (x: 17, y: 14), head: (x: 17, y: 42), left_hand: (x: 11, y: 32), right_hand: (x: 25, y: 34), left_foot: (x: 23, y: 21), right_foot: (x: 7, y: 21)),
        (base: (x: 17, y: 14), head: (x: 17, y: 41), left_hand: (x: 12, y: 32), right_hand: (x: 25, y: 33), left_foot: (x: 20, y: 18), right_foot: (x: 7, y: 22)),
        (base: (x: 17, y: 14), head: (x: 17, y: 41), left_hand: (x: 19, y: 29), right_hand: (x: 18, y: 28), left_foot: (x: 15, y: 17), right_foot: (x: 11, y: 24)),
        (base: (x: 17, y: 14), head: (x: 17, y: 43), left_hand: (x: 24, y: 33), right_hand: (x: 11, y: 31), left_foot: (x: 13, y: 17), right_foot: (x: 21, y: 21)),
        (base: (x: 17, y: 14), head: (x: 17, y: 43), left_hand: (x: 25, y: 36), right_hand: (x: 11, y: 31), left_foot: (x: 7, y: 24), right_foot: (x: 22, y: 15)),
        (base: (x: 17, y: 14), head: (x: 17, y: 41), left_hand: (x: 24, y: 34), right_hand: (x: 12, y: 30), left_foot: (x: 11, y: 24), right_foot: (x: 21, y: 15)),
        (base: (x: 17, y: 14), head: (x: 17, y: 41), left_hand: (x: 20, y: 33), right_hand: (x: 19, y: 28), left_foot: (x: 16, y: 24), right_foot: (x: 13, y: 12)),
        (base: (x: 17, y: 14), head: (x: 17, y: 43), left_hand: (x: 18, y: 33), right_hand: (x: 24, y: 34), left_foot: (x: 22, y: 22), right_foot: (x: 10, y: 13)),
      ],
    ),
    north: (
      frames: [
        (base: (x: 15, y: 14), head: (x: 15, y: 42), left_hand: (x: 13, y: 34), right_hand: (x: 21, y: 30), left_foot: (x: 13, y: 16), right_foot: (x: 17, y: 24)),
        (base: (x: 15, y: 14), head: (x: 15, y: 41), left_hand: (x: 12, y: 33), right_hand: (x: 19, y: 32), left_foot: (x: 14, y: 21), right_foot: (x: 17, y: 24)),
        (base: (x: 15, y: 14), head: (x: 15, y: 41), left_hand: (x: 9, y: 30), right_hand: (x: 18, y: 32), left_foot: (x: 13, y: 23), right_foot: (x: 17, y: 17)),
        (base: (x: 15, y: 14), head: (x: 15, y: 43), left_hand: (x: 8, y: 30), right_hand: (x: 16, y: 34), left_foot: (x: 13, y: 25), right_foot: (x: 17, y: 15)),
        (base: (x: 15, y: 14), head: (x: 15, y: 42), left_hand: (x: 8, y: 30), right_hand: (x: 16, y: 34), left_foot: (x: 13, y: 24), right_foot: (x: 17, y: 16)),
        (base: (x: 15, y: 14), head: (x: 15, y: 41), left_hand: (x: 10, y: 32), right_hand: (x: 17, y: 33), left_foot: (x: 13, y: 24), right_foot: (x: 16, y: 21)),
        (base: (x: 15, y: 14), head: (x: 15, y: 41), left_hand: (x: 11, y: 32), right_hand: (x: 20, y: 30), left_foot: (x: 13, y: 17), right_foot: (x: 17, y: 23)),
        (base: (x: 15, y: 14), head: (x: 15, y: 43), left_hand: (x: 13, y: 34), right_hand: (x: 21, y: 30), left_foot: (x: 13, y: 15), right_foot: (x: 17, y: 25)),
      ],
    ),
    west: (
      frames: [
        (base: (x: 14, y: 14), head: (x: 14, y: 42), left_hand: (x: 6, y: 34), right_hand: (x: 20, y: 32), left_foot: (x: 24, y: 22), right_foot: (x: 8, y: 19)),
        (base: (x: 14, y: 14), head: (x: 14, y: 41), left_hand: (x: 6, y: 33), right_hand: (x: 19, y: 32), left_foot: (x: 24, y: 24), right_foot: (x: 11, y: 18)),
        (base: (x: 14, y: 14), head: (x: 14, y: 41), left_hand: (x: 13, y: 28), right_hand: (x: 12, y: 29), left_foot: (x: 20, y: 26), right_foot: (x: 16, y: 17)),
        (base: (x: 14, y: 14), head: (x: 14, y: 43), left_hand: (x: 20, y: 31), right_hand: (x: 7, y: 34), left_foot: (x: 10, y: 21), right_foot: (x: 18, y: 17)),
        (base: (x: 14, y: 14), head: (x: 14, y: 43), left_hand: (x: 20, y: 31), right_hand: (x: 6, y: 36), left_foot: (x: 9, y: 15), right_foot: (x: 24, y: 24)),
        (base: (x: 14, y: 14), head: (x: 14, y: 41), left_hand: (x: 19, y: 30), right_hand: (x: 7, y: 34), left_foot: (x: 10, y: 15), right_foot: (x: 20, y: 24)),
        (base: (x: 14, y: 14), head: (x: 14, y: 41), left_hand: (x: 12, y: 28), right_hand: (x: 11, y: 33), left_foot: (x: 18, y: 14), right_foot: (x: 15, y: 24)),
        (base: (x: 14, y: 14), head: (x: 14, y: 43), left_hand: (x: 7, y: 34), right_hand: (x: 13, y: 33), left_foot: (x: 21, y: 15), right_foot: (x: 9, y: 22)),
      ],
    ),
    south: (
      frames: [
        (base: (x: 15, y: 14), head: (x: 15, y: 41), left_hand: (x: 17, y: 31), right_hand: (x: 9, y: 32), left_foot: (x: 18, y: 23), right_foot: (x: 11, y: 14)),
        (base: (x: 15, y: 14), head: (x: 15, y: 40), left_hand: (x: 17, y: 31), right_hand: (x: 10, y: 31), left_foot: (x: 19, y: 23), right_foot: (x: 13, y: 14)),
        (base: (x: 15, y: 14), head: (x: 15, y: 40), left_hand: (x: 21, y: 30), right_hand: (x: 10, y: 29), left_foot: (x: 19, y: 24), right_foot: (x: 13, y: 14)),
        (base: (x: 15, y: 14), head: (x: 15, y: 42), left_hand: (x: 21, y: 33), right_hand: (x: 11, y: 32), left_foot: (x: 19, y: 25), right_foot: (x: 13, y: 18)),
        (base: (x: 15, y: 14), head: (x: 15, y: 41), left_hand: (x: 20, y: 32), right_hand: (x: 11, y: 33), left_foot: (x: 12, y: 23), right_foot: (x: 19, y: 14)),
        (base: (x: 15, y: 14), head: (x: 15, y: 40), left_hand: (x: 20, y: 31), right_hand: (x: 11, y: 33), left_foot: (x: 11, y: 23), right_foot: (x: 17, y: 14)),
        (base: (x: 15, y: 14), head: (x: 15, y: 40), left_hand: (x: 20, y: 29), right_hand: (x: 9, y: 30), left_foot: (x: 11, y: 24), right_foot: (x: 17, y: 14)),
        (base: (x: 15, y: 14), head: (x: 15, y: 42), left_hand: (x: 19, y: 33), right_hand: (x: 9, y: 33), left_foot: (x: 12, y: 25), right_foot: (x: 17, y: 18)),
      ],
    ),
  ),
  idle: (
    east: (
      frames: [
        (base: (x: 15, y: 14), head: (x: 15, y: 43), left_hand: (x: 17, y: 29), right_hand: (x: 16, y: 27), left_foot: (x: 14, y: 15), right_foot: (x: 13, y: 12)),
      ],
    ),
    north: (
      frames: [
        (base: (x: 15, y: 13), head: (x: 15, y: 41), left_hand: (x: 9, y: 28), right_hand: (x: 21, y: 28), left_foot: (x: 11, y: 13), right_foot: (x: 19, y: 13)),
      ],
    ),
    west: (
      frames: [
        (base: (x: 16, y: 14), head: (x: 16, y: 43), left_hand: (x: 14, y: 29), right_hand: (x: 15, y: 27), left_foot: (x: 17, y: 15), right_foot: (x: 18, y: 12)),
      ],
    ),
    south: (
      frames: [
        (base: (x: 15, y: 14), head: (x: 15, y: 41), left_hand: (x: 22, y: 28), right_hand: (x: 8, y: 28), left_foot: (x: 20, y: 13), right_foot: (x: 10, y: 13)),
      ],
    ),
  ),
)
