(
  walk: (
    east: (
      frames: [
        (image: 7, priority: 12, offset: (x: 12, y: 6)),
      ],
    ),
    north: (
      frames: [
        (image: 6, priority: 12, offset: (x: 12, y: 6)),
      ],
    ),
    south: (
      frames: [
        (image: 5, priority: 12, offset: (x: 12, y: 6)),
      ],
    ),
    west: (
      frames: [
        (image: 8, priority: 12, offset: (x: 12, y: 6)),
      ],
    ),
  ),
  idle: (
    east: (
      frames: [
        (image: 3, priority: 12, offset: (x: 12, y: 6)),
      ],
    ),
    north: (
      frames: [
        (image: 2, priority: 12, offset: (x: 12, y: 6)),
      ],
    ),
    south: (
      frames: [
        (image: 1, priority: 12, offset: (x: 12, y: 6)),
      ],
    ),
    west: (
      frames: [
        (image: 4, priority: 12, offset: (x: 12, y: 6)),
      ],
    ),
  ),
)
