(
  walk: (
    east: (
      frames: [
        (base: (x: 15, y: 16), head: (x: 16, y: 39), left_hand: (x: 11, y: 30), right_hand: (x: 23, y: 31), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 16, y: 38), left_hand: (x: 13, y: 30), right_hand: (x: 23, y: 29), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 16, y: 37), left_hand: (x: 17, y: 29), right_hand: (x: 18, y: 26), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 16, y: 39), left_hand: (x: 22, y: 31), right_hand: (x: 15, y: 28), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 16, y: 39), left_hand: (x: 24, y: 33), right_hand: (x: 10, y: 29), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 16, y: 38), left_hand: (x: 22, y: 31), right_hand: (x: 11, y: 28), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 16, y: 37), left_hand: (x: 20, y: 30), right_hand: (x: 18, y: 29), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 16, y: 38), left_hand: (x: 17, y: 29), right_hand: (x: 22, y: 29), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
      ],
    ),
    north: (
      frames: [
        (base: (x: 15, y: 16), head: (x: 15, y: 39), left_hand: (x: 15, y: 30), right_hand: (x: 21, y: 28), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 38), left_hand: (x: 15, y: 29), right_hand: (x: 21, y: 28), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 38), left_hand: (x: 12, y: 27), right_hand: (x: 20, y: 28), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 39), left_hand: (x: 9, y: 28), right_hand: (x: 16, y: 31), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 38), left_hand: (x: 10, y: 28), right_hand: (x: 16, y: 30), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 38), left_hand: (x: 10, y: 28), right_hand: (x: 16, y: 29), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 37), left_hand: (x: 11, y: 28), right_hand: (x: 19, y: 27), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 39), left_hand: (x: 15, y: 31), right_hand: (x: 22, y: 28), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
      ],
    ),
    south: (
      frames: [
        (base: (x: 15, y: 16), head: (x: 15, y: 36), left_hand: (x: 18, y: 28), right_hand: (x: 10, y: 29), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 36), left_hand: (x: 18, y: 28), right_hand: (x: 10, y: 28), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 36), left_hand: (x: 21, y: 25), right_hand: (x: 10, y: 26), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 16, y: 38), left_hand: (x: 21, y: 29), right_hand: (x: 11, y: 28), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 16, y: 37), left_hand: (x: 21, y: 29), right_hand: (x: 13, y: 28), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 16, y: 36), left_hand: (x: 21, y: 28), right_hand: (x: 13, y: 28), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 16, y: 36), left_hand: (x: 21, y: 26), right_hand: (x: 10, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 38), left_hand: (x: 20, y: 28), right_hand: (x: 10, y: 29), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
      ],
    ),
    west: (
      frames: [
        (base: (x: 15, y: 16), head: (x: 15, y: 39), left_hand: (x: 8, y: 31), right_hand: (x: 20, y: 30), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 38), left_hand: (x: 8, y: 29), right_hand: (x: 18, y: 30), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 37), left_hand: (x: 13, y: 26), right_hand: (x: 14, y: 29), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 39), left_hand: (x: 16, y: 28), right_hand: (x: 9, y: 31), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 39), left_hand: (x: 21, y: 29), right_hand: (x: 7, y: 33), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 38), left_hand: (x: 20, y: 28), right_hand: (x: 9, y: 31), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 37), left_hand: (x: 13, y: 29), right_hand: (x: 11, y: 30), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 38), left_hand: (x: 9, y: 29), right_hand: (x: 14, y: 29), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
      ],
    ),
  ),
  idle: (
    east: (
      frames: [
        (base: (x: 15, y: 16), head: (x: 14, y: 38), left_hand: (x: 14, y: 27), right_hand: (x: 16, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 14, y: 38), left_hand: (x: 14, y: 27), right_hand: (x: 16, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 14, y: 38), left_hand: (x: 14, y: 27), right_hand: (x: 16, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 14, y: 38), left_hand: (x: 14, y: 27), right_hand: (x: 16, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 14, y: 38), left_hand: (x: 14, y: 27), right_hand: (x: 16, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 14, y: 38), left_hand: (x: 14, y: 27), right_hand: (x: 16, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 14, y: 38), left_hand: (x: 14, y: 27), right_hand: (x: 16, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 14, y: 38), left_hand: (x: 14, y: 27), right_hand: (x: 16, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
      ],
    ),
    north: (
      frames: [
        (base: (x: 15, y: 16), head: (x: 15, y: 37), left_hand: (x: 10, y: 25), right_hand: (x: 21, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 37), left_hand: (x: 10, y: 25), right_hand: (x: 21, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 37), left_hand: (x: 10, y: 25), right_hand: (x: 21, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 37), left_hand: (x: 10, y: 25), right_hand: (x: 21, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 37), left_hand: (x: 10, y: 25), right_hand: (x: 21, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 37), left_hand: (x: 10, y: 25), right_hand: (x: 21, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 37), left_hand: (x: 10, y: 25), right_hand: (x: 21, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 37), left_hand: (x: 10, y: 25), right_hand: (x: 21, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
      ],
    ),
    south: (
      frames: [
        (base: (x: 15, y: 16), head: (x: 15, y: 36), left_hand: (x: 22, y: 25), right_hand: (x: 9, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 36), left_hand: (x: 22, y: 25), right_hand: (x: 9, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 36), left_hand: (x: 22, y: 25), right_hand: (x: 9, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 36), left_hand: (x: 22, y: 25), right_hand: (x: 9, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 36), left_hand: (x: 22, y: 25), right_hand: (x: 9, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 36), left_hand: (x: 22, y: 25), right_hand: (x: 9, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 36), left_hand: (x: 22, y: 25), right_hand: (x: 9, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 15, y: 36), left_hand: (x: 22, y: 25), right_hand: (x: 9, y: 25), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
      ],
    ),
    west: (
      frames: [
        (base: (x: 15, y: 16), head: (x: 16, y: 37), left_hand: (x: 15, y: 25), right_hand: (x: 16, y: 27), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 16, y: 37), left_hand: (x: 15, y: 25), right_hand: (x: 16, y: 27), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 16, y: 37), left_hand: (x: 15, y: 25), right_hand: (x: 16, y: 27), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 16, y: 37), left_hand: (x: 15, y: 25), right_hand: (x: 16, y: 27), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 16, y: 37), left_hand: (x: 15, y: 25), right_hand: (x: 16, y: 27), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 16, y: 37), left_hand: (x: 15, y: 25), right_hand: (x: 16, y: 27), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 16, y: 37), left_hand: (x: 15, y: 25), right_hand: (x: 16, y: 27), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
        (base: (x: 15, y: 16), head: (x: 16, y: 37), left_hand: (x: 15, y: 25), right_hand: (x: 16, y: 27), left_foot: (x: 0, y: 0), right_foot: (x: 0, y: 0)),
      ],
    ),
  ),
)
